@import "src/sass/styles";

body {
  // overflow: hidden !important;
  overflow-x: hidden;
  background-color: var(--bg-color);
  color: var(--primary-text-color);
  font-family: var(--font-family);
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.AppContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  > div:first-of-type {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

// Custom scrollbar

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar:horizontal {
  width: unset;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--cell-background-color);
  border-radius: 8px;
  margin: 2px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 8px;
  &:hover {
    background: var(--primary-color-d-50);
  }
}
